<div style="border-radius:10px;background-color:white" margin padding>

  <ion-label>Share Comment, Photo or Video</ion-label>
  <ion-row margin-top>
    <ion-col class="div1" margin-right>
      <ion-row>
        <ion-col col-3 style="padding:3px">
          <ion-icon name="chatbubbles" style="font-size:20px;color:green;margin:5px"></ion-icon>
        </ion-col>
        <ion-col style="padding-left:3px">Comment</ion-col>
      </ion-row>
    </ion-col>

    <ion-col class="div1" margin-right>
      <ion-row>
        <ion-col col-1 style="padding:3px">
          <ion-icon name="photos" style="font-size:20px;color:#FF6666;margin:5px"></ion-icon>
        </ion-col>
        <ion-col style="padding:3px">Photos</ion-col>
      </ion-row>
    </ion-col>

    <ion-col class="div1">
      <ion-row>
        <ion-col col-1 style="padding:3px">
          <ion-icon name="videocam" style="font-size:20px;color:#CC0066;margin:5px"></ion-icon>
        </ion-col>
        <ion-col style="padding:3px">Vedio</ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

</div>

<ion-item>
  <ion-avatar item-start style="margin-top:-25px">
    <img class="div-circle" src="assets/imgs/female.png" />
  </ion-avatar>

  <ion-row no-padding>
    <ion-col col-7 no-padding no-margin>
      <label class="medium primary" text-capitalize no-padding no-margin>
        <b>Asha</b>
      </label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col style="font-size:12px;color:black" text-capitalize no-padding text-wrap>
      Thank you for review. Our policy providing the patient best experience throughout the organization.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2 style="font-size:12px;color:gray">Like </ion-col>
    <ion-col col-3 style="font-size:12px;color:gray">Reply </ion-col>
    <ion-col col-2>
      <ion-icon name="chatbubbles" style="font-size:20px;color:#009966"></ion-icon>5
    </ion-col>

    <ion-col>
      <ion-icon name="ios-thumbs-up" style="font-size:20px;color:#0066FF"></ion-icon>5
    </ion-col>

  </ion-row>
</ion-item>

<ion-item class="item-a">
  <ion-avatar item-start style="margin-top:-25px;margin-left:7px">
    <img class="div-circle" src="assets/imgs/female.png" />
  </ion-avatar>

  <ion-row no-padding>
    <ion-col col-7 no-padding no-margin>
      <label class="medium primary" text-capitalize no-padding no-margin>
        <b>Kiran</b>
      </label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col style="font-size:12px;color:black" text-capitalize padding-right text-wrap>
      Thank you for review. Our policy providing the patient best experience throughout the organization.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2 style="font-size:12px;color:gray">Like </ion-col>
    <ion-col col-3 style="font-size:12px;color:gray">Reply </ion-col>
    <ion-col col-2>
      <ion-icon name="chatbubbles" style="font-size:20px;color:#009966"></ion-icon>5
    </ion-col>

    <ion-col>
      <ion-icon name="ios-thumbs-up" style="font-size:20px;color:#0066FF"></ion-icon>5
    </ion-col>

  </ion-row>
</ion-item>

<ion-item class="item-a">
  <ion-avatar item-start style="margin-top:-25px;margin-left:7px">
    <img class="div-circle" src="assets/imgs/female.png" />
  </ion-avatar>

  <ion-row no-padding>
    <ion-col col-7 no-padding no-margin>
      <label class="medium primary" text-capitalize no-padding no-margin>
        <b>Asha</b>
      </label>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col style="font-size:12px;color:black" text-capitalize padding-right text-wrap>
      Thank you for review. Our policy providing the patient best experience throughout the organization.
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-2 style="font-size:12px;color:gray">Like </ion-col>
    <ion-col col-3 style="font-size:12px;color:gray">Reply </ion-col>
    <ion-col col-2>
      <ion-icon name="chatbubbles" style="font-size:20px;color:#009966"></ion-icon>5
    </ion-col>

    <ion-col>
      <ion-icon name="ios-thumbs-up" style="font-size:20px;color:#0066FF"></ion-icon>5
    </ion-col>

  </ion-row>
</ion-item>
