<ion-header>
  <ion-toolbar>
    <ion-title>
      Change Picture
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        Close
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list align-items-center>
    <ion-row ion-item text-center class="item-trns">
      <ion-avatar (click)="changePicture()">
        <img src="{{imgPreview}}" (change)="fileChangeEvent($event)">
      </ion-avatar>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label no-margin margin-left class="x-small">Crop/Save</ion-label>
        <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="4 / 3" [resizeToWidth]="128"
          format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (loadImageFailed)="loadImageFailed()">
        </image-cropper>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-label no-margin margin-left class="x-small">cropped Image</ion-label>
        <img [src]="croppedImage" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <input type="file" (change)="fileChangeEvent($event)" />
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label no-margin margin-left class="x-small">Source: {{caller}} - {{referenceId}}</ion-label>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label no-margin margin-left class="x-small">Type: {{type}} - {{imageId}}</ion-label>
      </ion-col>
    </ion-row>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col>
      <button ion-button class="button-footer" (click)="saveChange()"> Update </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button ion-button class="button-footer" (click)="dismiss()"> Cancel </button>
    </ion-col>
  </ion-row>
</ion-footer>
